<%= form_for(@candidat) do |f| %>
  <% if @candidat.errors.any? %>
    <div id="error_explanation">
      <h2>Une erreur est survenue lors de l'ajout du candidat:</h2>

      <ul>
      <% @candidat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom, :required => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, :required => true %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo, :required => true %>
  </div>
  <div class="field">
  <%= f.label 'Entreprise' %><br>
  <%= f.collection_select :company_id, Company.all, :id, :nom %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :id => "new_cand_submit", :value => "Valider" %>
  </div>
  <script>
  $(function(){
	if($('#candidat_nom').val().length < 4 || $('#candidat_email').val().length < 4) 
	   $('#new_cand_submit').attr('disabled', true);

	$('#candidat_nom').on('change paste keyup', function(){
		if($('#candidat_nom').val().length >= 4 && $('#candidat_email').val().length >= 4) 
			 $('#new_cand_submit').attr('disabled', false);    
		else
			 $('#new_cand_submit').attr('disabled', true);   
	});
	
	$('#candidat_email').on('change paste keyup', function(){
		if($('#candidat_nom').val().length >= 4 && $('#candidat_email').val().length >= 4) 
			 $('#new_cand_submit').attr('disabled', false);    
		else
			 $('#new_cand_submit').attr('disabled', true);   
	});
});
  </script>
<% end %>
